[submodule "deps/YoutubeExplode"]
	path = deps/YoutubeExplode
	url = https://github.com/Tyrrrz/YoutubeExplode
	branch = master
[submodule "deps/SVGSharpie"]
	path = deps/SVGSharpie
	url = https://github.com/jakedacatman/SVGSharpie
	branch = master
[submodule "deps/Discord.InteractivityAddon"]
	path = deps/Discord.InteractivityAddon
	url = https://github.com/jakedacatman/Discord.InteractivityAddon
[submodule "deps/ImageSharp.Drawing"]
	path = deps/ImageSharp.Drawing
	url = https://github.com/SixLabors/ImageSharp.Drawing
	branch = js/text-options
[submodule "deps/Fonts"]
	path = deps/Fonts
	url = https://github.com/SixLabors/Fonts
