[submodule "deps/SVGSharpie"]
	path = deps/SVGSharpie
	url = https://github.com/jakedacatman/SVGSharpie
	branch = master
[submodule "deps/Discord.InteractivityAddon"]
	path = deps/Discord.InteractivityAddon
	url = https://github.com/jakedacatman/Discord.InteractivityAddon
[submodule "deps/Fonts"]
	path = deps/Fonts
	url = https://github.com/SixLabors/Fonts
